<div class="checkout-container">
  <div class="checkout-summary">
    <div class="row total-price">
      <span id="total-price-label">ราคารวม</span>
      <span id="total-price-value">
        {{ totalPrice() | currency : "THB" : "symbol-narrow" : "1.2-2" }}</span
      >
    </div>
    <div class="row discount">
      <span id="discount-label">ส่วนลด</span>
      <div class="input-wrapper">
        <div class="input-relative">
          <span class="currency-symbol">฿</span>
        </div>
        <input
          type="text"
          id="discount-value"
          name="discount-value"
          [value]="discount()"
          (input)="onDiscountInput($event)"
          class="discount-input"
        />
      </div>
    </div>
    <div class="row grand-total">
      <span id="grand-total-label">ราคาสุทธิ</span>
      <span id="grand-total-value">
        {{ grandTotal() | currency : "THB" : "symbol-narrow" : "1.2-2" }}</span
      >
    </div>
  </div>
  <div class="btn-section">
    <button
      class="btn-primary"
      id="checkout-btn"
      [disabled]="isDisabledCheckoutButton()"
      (click)="onOpenCheckoutModal()"
    >
      ชำระเงิน
    </button>
  </div>
</div>
