.checkout-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.checkout-summary {
  display: flex;
  column-gap: 8;
  flex-direction: column;
  height: 80%;
  justify-content: space-evenly;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.total-price {
  color: #666;
}

.discount {
  color: #d32f2f;
}

.discount-input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: right;
  outline: none;
  transition: border 0.2s ease;
  color: #666;
  width: 40%;
}

.discount-input:focus {
  border-color: #d32f2f;
}

.input-wrapper {
  width: 100%;
  display: flex;
  justify-content: end;
}

.input-relative {
  position: relative;
}

.currency-symbol {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #666;
}

.grand-total {
  font-weight: 700;
  font-size: 1.2rem;
  border-top: 1px solid #ccc;
  padding-top: 8px;
  color: var(--color-primary-text);
}

.button-section {
  height: 20%;
  width: 100%;
}

button {
  height: 100%;
  width: 100%;
}
