@if (itemsInCart().length > 0) {
<div class="cart-header" key="card-header">
  <div class="item-name">รายการ</div>
  <div class="item-qty">จำนวน</div>
  <div class="item-price">ราคา</div>
</div>
@for (item of itemsInCart(); track item._id) {

<div class="cart-item">
  <div class="item-name">{{ item.name }}</div>
  <div class="item-qty">{{ item.quantity }}</div>
  <div class="item-price">
    {{
      item.price * item.quantity | currency : "THB" : "symbol-narrow" : "1.2-2"
    }}
  </div>
</div>

} } @else {
<div class="empty-cart">ไม่มีสินค้าในตะกร้า</div>
}
